<%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing_party", method: :post, data: { turbo: false }, local: true do |form| %>
  <div>
    <%= form.label :duration %>
    <%= form.time_field :duration%>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :start_time %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.label :guests %>
    <%= form.text_field :guests %>
  </div>
  <%= form.submit 'Create Viewing Party', class: "btn btn-primary" %>
<% end %>